    	<php>$weiboCommentTotalCount = $weibo['comment_count'];</php>
    	<a href="javascript:void(0)" class="comment-commit-btn" id="comment_btn_{$weiboId}" 
    		data-weibo-id="{$weiboId}" comment-count="{$weiboCommentTotalCount}" data-toggle="modal" data-target="#commentblock"> 	
    	   	<img src="__PUBLIC__/Usercenter/image/comment_32.109589041096px_1195191_easyicon.net.png"/>
      	</a>
      	<span id="comment_count_{$weiboId}">{$weiboCommentTotalCount}</span>
      
      
      <!--JavaScript Section-->
      	<script type="text/javascript">
      	
      	$(function(){
      		$('#comment_btn_{$weiboId}').on('click',function(){
      			
      			var weiboid=$(this).attr('data-weibo-id');
      			var weibocommentcount={$weiboCommentTotalCount};
      			$('#commentblock').attr('data-weibo-id',weiboid);
      			$('#commentblock').attr('data-weibo-comment-count',weibocommentcount);
      			
      	        $.post('__URL__/loadComment',{weibo_id:'{$weiboId}'},function(result){ 
      	        	if(result.status==0)
                    	$('#weibo_comment_list').text('no comments! :D');
                    else
                     	$('#weibo_comment_list').html(result);
      	        });
      		});
      		
      	});
      	</script>
