    <footer class="footer">
      <div class="container">	
           <div class="row">
           	<div class="col-md-3">
           		<h5 style="font-size: 40px;"><b>YooZu@<b></h5>
           		<p><b>Changzhou Office</b></p>
           		<p><b>1832 Buchanan Street #201,</b></p>
           		<p><b>San Francisco, CA 94115</b></p>
           	</div>
           	<div class="col-md-3">
           		<ul>
           			<li><a href="#" style="font-size: 40px;"><b>Company</b></a></li>
           			<li><a href="#">Blog</a></li>
           			<li><a href="#">About</a></li>
           			<li><a href="#">Contact</a></li>
           		</ul>
           	</div>
           	<div class="col-md-3">
           		<ul>
           			<li><a href="#" style="font-size: 40px;"><b>YooZu</b></a></li>
           			<li><a href="#">what can it do</a></li>
           			<li><a href="#">how</a></li>
           		</ul>
           	</div>
           	<div class="col-md-3">
           		<ul>
           			<li><a href="#" style="font-size: 40px;"><b>Contact</b></a></li>
           			<li>Tel:15061110931</li>
           			<li>Email:1158656977@qq.com</li>
           		</ul>
           	</div>
           </div>
           <div class="row">
           	
           </div>
      </div>
    </footer>
