<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0,user-scalable=no">

<!-- jQueryLib -->
<!--[if gte IE 9]><!-->
<script type="text/javascript" src="__STATIC__/jquery-2.0.3.min.js"></script>
<!--<!--[endif]-->
<!--[if lt IE 9]><!-->
<script type="text/javascript" src="__STATIC__/jquery-1.10.2.min.js"></script>
<!--<![endif]-->

<!-- 增强IE兼容性 -->
<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]><!-->
<script src="__STATIC__/bootstrap/js/html5shiv.js"></script>
<script src="__STATIC__/bootstrap/js/respond.js"></script>
<!--<!--[endif]-->

<!-- 为了让html5shiv生效，请将所有的CSS都添加到此处 -->
<link type="text/css" rel="stylesheet" href="__STATIC__/bootstrap/css/bootstrap.min.css"/>	
<link rel="stylesheet" type="text/css" href="__PUBLIC__/home/css/sticky-footer.css"/>	
<link rel="stylesheet" type="text/css" href="__STATIC__/WebUIpopover/css/jquery.webui-popover.min.css"/>
<!--Bootstrap Lib js-->
<script src="__STATIC__/bootstrap/js/bootstrap.min.js"></script>
<block name="otherstyle"></block>
<!--other Lib-->
<script type="text/javascript" src="__STATIC__/slimscroll/jquery.slimscroll.min.js"></script>
<script src="__STATIC__/jquery.iframe-transport.js" type="text/javascript"></script>
<script type="text/javascript" src="__STATIC__/WebUIpopover/js/jquery.webui-popover.js"></script>


<!--
<script>
    //全局内容的定义
    var _ROOT_ = "__ROOT__";
    var MID = "{:is_login()}";
    var MODULE_NAME="<php>echo MODULE_NAME;</php>";
</script>	-->
	
	
	
	
	
	
	
	
	
