<!DOCTYPE html>
<html>
<head> 
<include file="Common@Public/head"/>
<link type="text/css" rel="stylesheet" href="__PUBLIC__/home/css/home.css"/>
<title>Yoozu-share things here</title>
</head>
<body>
<include file="Common@Public/header"/>
<div class="jumbotron" style="padding-top: 60px;margin-top: -20px;">
  <div class="container">
  	<div class="row">
  	  <div class="col-md-6 col-sm-12"><img src="__PUBLIC__/home/image/claim.png" alt="claim.png" width="450px" height="450px"/></div>
      <div class="col-md-6 col-sm-12" id="text_content">
        <h1 style="font-size: 7em;">hello,myfriend</h1>
        <p style="font-size: 2em;">Welcome to Yoozu ! Now you can enjoy doing what you want to do here! :)</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button" style="font-size: 30px;"><b>Join us</b></a></p>
      </div>
  </div>
</div>
</div>
<div class="container">
     <div class="row">
     	<div class="jumbotron">
     		<div class="container">
     	 <p style="text-align: center; font-size: 60px;">You can share things here like this ! </p>
     	</div>
     	</div>
     	 <img src="__PUBLIC__/home/image/image2.jpg" alt="image1.jpg" style="width: 100%;"/>
     </div>
     <div class="row">
     	  <div class="jumbotron">
     	  <div class="container">
     	  <p style="text-align: center;font-size: 60px;">You can do what you want with other people,Like this!</p>
     	  </div>
     	  </div>
     	   <img src="__PUBLIC__/home/image/image1.jpg" alt="image2.jpg" style="width: 100%;"/>
     </div>
     <hr>
     <div class="row">
     	<div class="jumbotron">
     	<div class="container">
      <p style="text-align: center;font-size: 60px;">You can make friends like this!</p>
     	</div>
     	</div>
     	<img src="__PUBLIC__/home/image/image2.jpg"alt="image3.png" style="width: 100%;"/>
     </div>
</div>	
     <include file="Common@Public/footer"/>
</body>
</html>