<!--Modal-->
  
<div class="fade modal" id="sendblock" tabindex="-1" role="dialog" aria-labelledby="mysendModalLabel">
		<div class="modal-dialog">
		  <div class="modal-content">	
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<p class="text-muted" style="font-size: 30px; text-align: center;">hello,write something here!</p>
			</div>
			<div class="modal-body">
				<form role="form">
                    <div class="form-group">
                    	  <input type="text" class="form-control input-lg weibo-title-input" placeholder="写一个标题........" aria-describedby="basic-addon2" style="margin-bottom: 10px;">
                        <textarea name="content" class="form-control" rows="5" id="weibo_post_content" placeholder="发表些什么吧.........."></textarea>
                    </div>
                </form>
              <!--显示图片的区域-->  
        <div id="uploadimg-div" style="display: none;">
        	<div class="thumbnails w3-display-container">
        	    <img class="thumbnails" id="uploadweibo_image" style="width: 100%;"/>
        	    <div class="w3-display-topright w3-container">
        	      <a href="javascript:void(0);" class="weibo-img-delete-btn"><span class="fa fa-times" style="font-size: 30px;margin-top: 15px;"><span></a>
        	    </div>	
        	</div>
        </div>        
			</div>
			<div class="modal-footer">
		      <ul class="pull-left">		
				     {:W('InsertImage/insertImage')}
				     {:W('InsertFace/insertFace')}
		      </ul>	
				<button type="button" class="btn btn-info btn-lg" id="weibo_post_btn">发送</button>
			</div>
	    </div>
	  </div> 
	</div>
	
	<!--commentModal-->
	<div class="fade modal" id="commentblock" tabindex="-1" role="dialog" aria-labelledby="mycommentModalLabel">
	  <div class="modal-dialog">
	      <div class="modal-content" style="padding: 0px;">
	      	<div class="modal-header">
	      		<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	      		<h3><strong>给他/她写一些评论？</strong></h3>
	      	</div>
	      	<div class="modal-body" id="weibo_comment_list">
	      		    
	      	</div>
	      	<div class="modal-footer" id="weibo_input_comment">
	      		<div class="input-group">
                <input type="text" class="form-control input-lg" id="comment-input-text" placeholder="写一些感言吧。。。。">
                <span class="input-group-btn">
                <button class="btn btn-primary btn-lg" id="comment-send-btn" type="button">发送</button>
                </span>
            </div>
	      	</div>
	      </div>
    </div>	    
	</div>
	<!--Session block-->
	<div id="sessionblock">
		<div class="container-fluid">
		    <div class="row">
		    </div>
		</div>
	</div>
	<!--Editor Modal-->
	
	<!--js block-->
	<script type="text/javascript">
$(function(){
	
	$('.navbar-chatting-model').webuiPopover({
		placement:'auto',
		container: '.navbar-chatting-model',
		trigger: 'click',
		height:400,
		width: 250,
		url:'#sessionblock',
		animation: 'pop',
	    offsetTop:0,  // offset the top of the popover
        offsetLeft:0,
	});
	
	 $("#weibo_post_btn").click(function(){
	 	    var Url="__URL__/accept_weibo";
	 	    var postdata={
	 		  content:$("#weibo_post_content").val(),
	 		  attach_id:$('#uploadweibo_image').attr('attach_id'),
	 		  title: $('.weibo-title-input').val(),
	 	};
	 		postweibo(Url,postdata);
	 });
	 
	 function postweibo(Url,postdata)
	 {
	 	$.post(Url,postdata,function(result){
	 		if(result.status){
//	 		handleAjax(result);
      alert(result.info);
	 		$('#weibo_post_content').val('');
	 		$('.weibo-title-input').val('');
	 		setTimeout(function(){
	 			$('#weibo_list').prepend(result.html);
	 			$('#myWeibolist').prepend(result.html);
	 		},1000);
	 	}
	  });
	  $('#uploadweibo_image').attr('attach_id','');
	 }
	 
	 
	    $('#comment-send-btn').on('click',function(){
	    	
	        var weiboid=$(this).parent().parent().parent().parent().parent().parent().attr('data-weibo-id');
	        var commentcount=$(this).parent().parent().parent().parent().parent().parent().attr('data-weibo-comment-count');
	 		    $.post('__URL__/dosendComment',
      			   {
      				weibo_id: weiboid,
      				content:$('#comment-input-text').val(),
      			    },  
      			    function(a){
      				if(a.status){
      					$('#comment-input-text').val('');
      					$('#weibo_comment_list').prepend(a.html);
      					$('#comment_count_'+weiboid).html(++commentcount);
      					$('#commentblock').attr('data-weibo-comment-count',commentcount);
      					alert(a.info);
      				}	
      			});
	    });
	    
	  $('.weibo-img-delete-btn').on('click',function(){
	        	$('#uploadweibo_image').attr('src');
	        	$('#uploadimg-div').hide();
	  });
	     
});
	</script>
	
	
	
	
