
 <nav class="navbar navbar-default navbar-fixed-top">
	  <div class="container-fluid">
	  	<div class="row">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><span class="fa fa-foursquare" aria-hidden="true" style="font-size: 60px; color: #00FFFF; margin-left: 20px;"></span></a>
    </div>
     
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <div class="col-lg-6">
            <div class="input-group" style="margin-top: 20px;">
            	<input type="text" class="form-control input-lg" placeholder="Search for..." style="border-radius: 10px;">
                <span class="input-group-btn">
                <button class="btn btn-default btn-lg" type="button"><span class="fa fa-search">
                </span></button>
                </span>
        </div><!-- /input-group -->
    </div>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{:U('Public/userfp',array('uid'=>get_uid()))}"><span class="fa fa-university" aria-hidden="true" style="font-size: 60px;"></span></a></li>
        <li><a href="{:U('Lease/lease',array('uid'=>get_uid()))}"><span class="fa fa-bicycle" aria-hidden="trues" style="font-size: 60px;"></span></a></li>
        <li><a href="#" class="navbar-chatting-model"><span class="fa fa-comments" aria-hidden="true" style="font-size: 60px;"></span></a></li>
        <li class="dropdown">
        	<a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="fa fa-envelope-o" aria-hidden="true" style="font-size: 60px;"></span></a>
        </li>
        <li><a href="{:U('Profile/profile',array('uid'=>get_uid()))}"><span class="fa fa-cog" aria-hidden="true" style="font-size: 60px;"></span></a></li>
        <li><a href="javascript:void(0)" data-toggle="modal" data-target="#sendblock"><span class="fa fa-pencil" aria-hidden="true" style="font-size: 60px;color: #00FFFF;"></span></a></li>
      </ul>
        </div>
    </div>
    </div>
    <!-- /.navbar-collapse -->
</nav>
 