<div class="panel panel-default">
	<div class="panel-heading recommendation-panel-heading">
		推荐的微博
	</div>
	<div class="panel-body recommendation-panel-body">
	    <ul class="list-group recommendation-panel-list-group">
            <volist name="rlist" id="weibo">
                <li class="list-group-item" id="recommend_weibo_{$weibo.id}">
	                <a href="#" class="pull-left"><img src="__PUBLIC__/Usercenter/image/year_of_monkey_48px_1168430_easyicon.net.png"/></a>
	                <a href="#" class="pull-right">Zhujiahao</a>
                </li>
            </volist> 
        </ul>
    </div>
</div>
