<extend name="Usercenter@Default/usercenter"/>
<block name="title"><title>welcome,</title></block>
<block name="content">
<div class="container">
    <div class="userfp-header">
         <h1>Hello,world!</h1>
         <p>hello,world</p>
    </div>
    <div class="row">
        <div class="col-sm-8 userfp-main">
        	<div class="user-post">
        	    <h2 class="user-post-title">Hello</h2>
        	    <p class="user-post-meta">January 1, 2014 by</p>
        	    <p>Hello,world</p>
        	</div>
        	<div class="user-post">
        		 <h2 class="user-post-title">Hello</h2>
        		 <p class="user-post-meta">January 1, 2014 by</p>
        		 <p>HAHAHAHAHAHAHAHAHHAHAHA</p>
        	</div>
            <div class="user-post">
            	 <h2 class="user-post-title">Hello</h2>
            	 <p class="user-post-meta">January 1, 2014 by</p>
            	 <p>SSSSSSSSSSSSSSSSSSS</p>
            </div>
            <div class="user-post">
            	 <h2 class="user-post-title">Hello</h2>
            	 <p class="user-post-meta">January 1, 2014 by</p>
            	 <p>HHHHHHHHHHHHHHHHHHHHHHHHHHHHH</p>
            </div>
        </div>
	     <div class="col-sm-offset-1 col-sm-3 userfp-sidebar">
	     	<div class="sidebar-module">
	     		<h4>About</h4>
	     		<p>Etiam porta sem malesuada magna mollis euismod. 
	     			Cras mattis consectetur purus sit amet fermentum.
	     			 Aenean lacinia bibendum nulla sed consectetur.</p>
	     	</div>
	     	<div class="sidebar-module">
	     		<h4>About</h4>
	     		<p>Etiam porta sem malesuada magna mollis euismod. 
	     			Cras mattis consectetur purus sit amet fermentum.
	     			 Aenean lacinia bibendum nulla sed consectetur.</p>
	     	</div>
	     	<div class="sidebar-module">
	     		<h4>About</h4>
	     		<p>Etiam porta sem malesuada magna mollis euismod. 
	     			Cras mattis consectetur purus sit amet fermentum. 
	     			Aenean lacinia bibendum nulla sed consectetur.</p>
	     	</div>
	     </div>
    </div>
 </div>	
</block>
<block name="script">
<script>	 
</script>
</block>
