<!DOCTYPE html>
<html>
	<head>
		<include file="Common@Public/head" />
		<title>hello,{$auth.username}</title>
		<link rel="stylesheet" href="__PUBLIC__/Usercenter/css/userfp.css" />
		<link rel="stylesheet" href="__PUBLIC__/Usercenter/css/profilecard.css" />
	</head>
	<include file="Base/navbar" />
	<body>
		<include file="Base/header" />
		<div class="container">
			<div class="row">
			<div class="usc_left_column-weibo col-sm-8 col-md-8">
				<div id="weibo_list">
					<include file="Public/loadweibo" />
				</div>
				<div id="load_weibo" class="text-center text-muted">        
					<p id="load_more_text">载入更多</p>
				</div>
			</div>
			
			<!--user's information list-->
			<div class="usc_right_column-recommendation col-sm-4 col-md-4">
			   <include file="Public/recommendation"/>
			</div>
		</div>
		</div>
	</body>
	<script>
	    var isLoadingWeibo=false;
	    var noMoreweibo = false; 
	    //
	    var loadCount = 1;
        var lastId = '{$lastId}';
		$(document).ready(function(){
			//gun dong di bu shi
			$(window).on('scroll',function(){
				if(noMoreweibo){
					return ;
				}
				if(isLoadingWeibo){
					return ;
				}
				if (isLoadMoreVisible()){
					loadCount=loadCount+1;
                    loadWeiboList(loadCount,lastId);
                 }
			});
			$(window).trigger('scroll');
		});
		
	//js function
    function isLoadMoreVisible()
{
	var visibleHeight=$(window.top).height();
	var loadMoreOffset = $('#load_weibo').offset(); 
    return visibleHeight + $(window).scrollTop() > loadMoreOffset.top;
}

    function loadWeiboList(loadCount,lastId){

    isLoadingWeibo = true;
    var url="__URL__/loadweibo";
    $('#load_more_text').text('load more...');
    $.post(url, {loadCount:loadCount,lastId:lastId}, function (result) {
        if (result.status == 0) {
            noMoreweibo = true;
            $('#load_more_text').text('没有了');
        }else{
        $('#weibo_list').append(result);
        $('#load_more_text').text('');
        isLoadingWeibo = false;
        }
    });
}
	</script>
</html>
