/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  height: 100%;
  margin-bottom: 200px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: auto;
  /* Set the fixed height of the footer here */
  background-color: #000000;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 60px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

footer li{
	list-style: none;
	font-size: 20px;
	color: white;
}

footer li a{
	color: white;
}

footer p{
	font-size: 20px;
	color: white;
}

footer h5{
	color: white;
}
